@using ThesesSystem.Web.Infrastructure.Constants
@using Microsoft.AspNet.Identity

@model ThesesSystem.Web.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title = "Начало";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalConstants.APPLICATION_NAME</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/custom")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
           <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#top">Начало</a></li>
                    <li><a href="#state">Състояние</a></li>
                    <li><a href="#services">Услуги</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </nav>

    <div class="container body-content">
        <section id="top" class="module parallax parallax-1">
            <div class="container">
                <h1>Добре дошли</h1>
            </div>
        </section>

        <section id="state" class="module content first">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4">
                        <i class="glyphicon glyphicon-book"> </i>
                        <h2>@Model.ThesesNumber дипломни работи</h2>
                    </div>
                    <div class="col-md-4">
                        <i class="glyphicon glyphicon-tags"> </i>
                        <h2>@Model.ThesisThemesNumber идеи за дипломни работи</h2>
                    </div>
                    <div class="col-md-4">
                        <i class="glyphicon glyphicon-user"> </i>
                        <h2>@Model.UsersNumber потребители</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="module parallax parallax-3">
            <div class="container">
                <h1>Тук ще намерите:</h1>
            </div>
        </section>

        <section id="services" class="module content third">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-4 col-xs-6 col-md-4">
                        <i class="glyphicon glyphicon-cloud"> </i>
                        <h2>Реални идеи</h2>
                    </div>
                    <div class="col-sm-4 col-xs-6 col-md-4">
                        <i class="glyphicon glyphicon-flag"> </i>
                        <h2>Съхранение на различни версии на дипломната Ви работа</h2>
                    </div>
                    <div class="col-sm-4 col-xs-6 col-md-4">
                        <i class="glyphicon glyphicon-phone-alt"> </i>
                        <h2>Комуникация с научни ръководители</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div id="black-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="line3 center standart-h4title"><span>Навигация</span></h4>
                        <ul class="footer-links">
                            <li><a href="#top">Начало</a></li>
                            <li><a href="#state">Състояние</a></li>
                            <li><a href="#services">Услуги</a></li>
                            <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="line3 center standart-h4title"><span>Полезни връзки</span></h4>
                        <ul class="footer-links">
                            <li><a href="https://github.com/nikolay-radkov/ThesesSystem">Сорс код на системата</a></li>
                            <li><a href="http://tu-sofia.bg" />ТУ-София</a></li>
                            <li><a href="http://www.asp.net/mvc">ASP.NET MVC</a></li>
                            <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="line3 center standart-h4title"><span>Генератори на идеи</span></h4>
                        <ul class="footer-links">
                            <li><a href="http://ideagenerator.creativitygames.net/">Creativity Games</a></li>
                            <li><a href="http://www.portent.com/tools/title-maker">Portent</a></li>

                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <h4 class="line3 center standart-h4title"><span>Контакти</span></h4>
                        <address>

                        </address>
                    </div>

                </div>
            </div>

            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 text-center">
                        <p>
                            © @DateTime.Now.Year създаден с помощта на  <a href="http://www.asp.net/mvc">ASP.NET MVC</a> и <a href="http://getbootstrap.com/">Twitter Bootstrap</a>.
                            <br /><small>Сайтът е разработен от <a href="https://github.com/nikolay-radkov">Николай Радков</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/parallax")

    <script>
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });

        $('.parallax-1').parallax({
            speed: 0.15
        });
        $('.parallax-2').parallax({
            speed: 0.15
        });
        $('.parallax-3').parallax({
            speed: 0.15
        });
    </script>
</body>
</html>
