@model ThesesSystem.Web.ViewModels.Partials.StudentInfoViewModel

<div class="row">
    <div class="col-md-offset-3 col-md-3">
        @Html.LabelFor(m => Model.FacultyNumber)
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(m => Model.FacultyNumber)
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-3">
        @Html.LabelFor(m => Model.Oks)
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(m => Model.Oks)
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-3">
        @Html.LabelFor(m => Model.SpecialtyGroup)
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(m => Model.SpecialtyGroup)
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-3">
        @Html.LabelFor(m => Model.SpecialtyName)
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(m => Model.SpecialtyName)
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-3">
        @Html.LabelFor(m => Model.FacultyName)
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(m => Model.FacultyName)
    </div>
</div>