@model ThesesSystem.Web.ViewModels.Partials.StudentInfoViewModel

<tr>
    <td>
        @Html.LabelFor(m => Model.FacultyNumber)
    </td>
    <td>
        @Html.DisplayFor(m => Model.FacultyNumber)
    </td>
</tr>

<tr>
    <td>
        @Html.LabelFor(m => Model.Oks)
    </td>
    <td>
        @Html.DisplayFor(m => Model.Oks)
    </td>
</tr>

<tr>
    <td>
        @Html.LabelFor(m => Model.SpecialtyGroup)
    </td>
    <td>
        @Html.DisplayFor(m => Model.SpecialtyGroup)
    </td>
</tr>

<tr>
    <td>
        @Html.LabelFor(m => Model.SpecialtyName)
    </td>
    <td>
        @Html.DisplayFor(m => Model.SpecialtyName)
    </td>
</tr>

<tr>
    <td>
        @Html.LabelFor(m => Model.FacultyName)
    </td>
    <td>
        @Html.DisplayFor(m => Model.FacultyName)
    </td>
</tr>