@model ThesesSystem.Web.ViewModels.Partials.TeacherInfoViewModel

<div class="row border-bottom">
    <div class="col-md-6">
        @Html.LabelFor(m => Model.OfficePhoneNumber)
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(m => Model.OfficePhoneNumber)
    </div>
</div>
<div class="row border-bottom">
    <div class="col-md-6">
        @Html.LabelFor(m => Model.Cabinet)
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(m => Model.Cabinet)
    </div>
</div>
@foreach (var item in Model.Theses)
{
    if (item.IsComplete)
    {
        <a href='@Url.Action("ThesisProfile", "Storage", new {id = item.Id})' class="badge-success">@item.Title</a>
    }
    else
    {
        <span class="badge">@item.Title</span>
    }

}