@model ThesesSystem.Web.ViewModels.Users.UserProfileViewModel
@using ThesesSystem.Web.Infrastructure.Constants
@{
    ViewBag.Title = "Профил на потребител";
}

<div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.FullName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.FullName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.EGN)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.EGN)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.PhoneNumber)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.PhoneNumber)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.Email)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.Email)
        </div>
    </div>
    <div id="content-loading" style="display: none">Моля изчакайте...</div>
    <div id="content">
        @if (Model.IsStudent)
        {
            @Ajax.ActionLink(
                    "Повече информация",
                    "StudentInfo",
                    "User",
                    new
                    {
                        id = @Model.Id
                    },
                    new AjaxOptions
                    {
                        UpdateTargetId = "content",
                        LoadingElementId = "content-loading",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace
                    },
                    new
                    {
                        @class = "btn btn-primary"
                    })
        }
        else
        {
            @Ajax.ActionLink(
                "Повече информация",
                "TeacherInfo",
                "User",
                new
                {
                    id = @Model.Id
                },
                new AjaxOptions
                {
                    UpdateTargetId = "content",
                    LoadingElementId = "content-loading",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                },
                new
                {
                    @class = "btn btn-primary"
                })
        }

    </div>
    <div class="row">
        @if (!Model.IsVerified)
        {
            <div class="col-md-offset-3 col-md-3">
                @if (User.IsInRole(GlobalConstants.ADMIN))
                {
                    using (Html.BeginForm("Verify", "User", new { id = Model.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.DropDownList("verificationType", EnumHelper.GetSelectList(typeof(ThesesSystem.Web.ViewModels.Users.VerificationType)), new { @class = "form-control" })

                        <input type="submit" value="Потвърди" class="btn btn-lg btn-danger" />
                    }
                }
            </div>
        }
        else
        {
            <div class="col-md-3">
                @Html.ActionLink("Изпрати съобщение", "Index", "Message", routeValues: new { area = string.Empty, friendId = Model.Id}, htmlAttributes: new { title = "Съобщения" , @class="btn btn-lg btn-primary" })
            </div>
            <div class="col-md-3">
                @if (Model.IsFriend)
                {
                    using (Html.BeginForm("RemoveFriend", "User", new { id = Model.Id }, FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Премахни от приятели" class="btn btn-lg btn-danger" />
                    }
                }
                else
                {
                    using (Html.BeginForm("NewFriend", "User", new { id = Model.Id }, FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Добави към приятели" class="btn btn-lg btn-success" />
                    }
                }
            </div>
        }
    </div>
</div>
