@model ThesesSystem.Web.ViewModels.Users.UserProfileViewModel
@using ThesesSystem.Web.Infrastructure.Constants
@{
    ViewBag.Title = "Профил на потребител";
}
<h2>@ViewBag.Title</h2>
<br />
<div class="panel shadowed">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3" align="center">
            <img alt="User Pic" src="~/Images/unknown.jpg" class="img-circle img-responsive" />
        </div>
        <div class=" col-md-9 col-lg-9 col-sm-9">
            <div class="row border-bottom">
                <div class="col-md-6">
                    @Html.LabelFor(m => Model.FullName)
                </div>
                <div class="col-md-6">
                    @Html.DisplayFor(m => Model.FullName)
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-md-6">
                    @Html.LabelFor(m => Model.EGN)
                </div>
                <div class="col-md-6">
                    @Html.DisplayFor(m => Model.EGN)
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-md-6">
                    @Html.LabelFor(m => Model.PhoneNumber)
                </div>
                <div class="col-md-6">
                    @Html.DisplayFor(m => Model.PhoneNumber)
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-md-6">
                    @Html.LabelFor(m => Model.Email)
                </div>
                <div class="col-md-6">
                    @Html.DisplayFor(m => Model.Email)
                </div>
            </div>
            <div id="content">
                <div id="content-loading" style="display: none">Моля изчакайте...</div>
                @if (Model.IsVerified)
                {
                    if (Model.IsStudent)
                    {
                        @Ajax.ActionLink(
                                            "Повече информация",
                                            "StudentInfo",
                                            "User",
                                            new
                                            {
                                                id = @Model.Id
                                            },
                                            new AjaxOptions
                                            {
                                                UpdateTargetId = "content",
                                                LoadingElementId = "content-loading",
                                                HttpMethod = "GET",
                                                InsertionMode = InsertionMode.ReplaceWith
                                            },
                                            new
                                            {
                                                @class = "btn btn-info btn-sm"
                                            })
                    }
                    else
                    {
                        @Ajax.ActionLink(
                                            "Повече информация",
                                            "TeacherInfo",
                                            "User",
                                            new
                                            {
                                                id = @Model.Id
                                            },
                                            new AjaxOptions
                                            {
                                                UpdateTargetId = "content",
                                                LoadingElementId = "content-loading",
                                                HttpMethod = "GET",
                                                InsertionMode = InsertionMode.ReplaceWith
                                            },
                                            new
                                            {
                                                @class = "btn btn-info btn-sm"
                                            })
                    }
                }
            </div>
        </div>
    </div>
    @if (!Model.IsVerified)
    {
        <div class="row">
            <div class="col-md-offset-3 col-sm-6 col-xs-12 col-md-4 col-lg-4">
                @if (User.IsInRole(GlobalConstants.ADMIN))
                {
                    using (Html.BeginForm("Verify", "User", new { id = Model.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.DropDownList("verificationType", EnumHelper.GetSelectList(typeof(ThesesSystem.Web.ViewModels.Users.VerificationType)), new { @class = "form-control" })

                        <input type="submit" value="Потвърди" class="btn btn-lg btn-danger max-width" />
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-6 col-xs-12 col-md-4 col-lg-4 text-center">
                <a href='@Url.Action("Index", "Message", new { area = string.Empty, friendId = Model.Id })'><button class="btn btn-lg btn-primary max-width">Изпрати съобщение</button></a>
            </div>

            <div class=" col-md-offset-4 col-lg-offset-4  col-sm-6 col-xs-12 col-md-4 col-lg-4">
                @if (Model.IsFriend)
                {
                    using (Html.BeginForm("RemoveFriend", "User", new { id = Model.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
            <input type="submit" value="Премахни от приятели" class="btn btn-lg btn-danger max-width " />
                    }
                }
                else
                {
                    using (Html.BeginForm("NewFriend", "User", new { id = Model.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Добави към приятели" class="btn btn-lg btn-success max-width " />
                    }
                }
            </div>
        </div>
    }
</div>
