@model ICollection<ThesesSystem.Web.ViewModels.ThesisTutorials.TutorialViewModel>
@{
    ViewBag.Title = "Наръчници";
}

<h2>
    <div class="row">
        <div class="col-md-9 text-left">
            @ViewBag.Title
        </div>
        @if (this.User.IsInRole(ThesesSystem.Web.Infrastructure.Constants.GlobalConstants.TEACHER))
        {
            <div class="col-md-2">
                @Html.ActionLink("Нов наръчник", "Create", "Tutorial", new { area = string.Empty }, new { @class = "btn btn-primary shadowed" })
            </div>
        }
        <br />
    </div>
</h2>
<div id="tutorial-container" class="row">
    @if (Model.Count == 0)
    {
        <h2 class="alert alert-info">Все още няма качени наръчници за изготвяне на дипломна работа</h2>
    }
    else
    {
        <div class="component">
            <ul class="align">
                @foreach (var item in Model)
                {
                    <li>
                        <figure class='book shadowed'>
                            <!-- Front -->
                            <ul class='hardcover_front'>
                                <li>
                                    <div class="coverDesign yellow">
                                        <h1>Наръчник</h1>
                                        <p>@item.TeacherName</p>
                                        <br />
                                        <small>@item.CreatedOn.Year</small>
                                    </div>
                                </li>
                                <li></li>
                            </ul>
                            <!-- Pages -->
                            <ul class='page'>
                                <li></li>
                                <li>
                                    @Html.ActionLink("Свали", "DownloadTutorial", "Tutorial", new { id = item.Id }, new { target = "_blank", @class = "btn" })
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <!-- Back -->
                            <ul class='hardcover_back'>
                                <li></li>
                                <li></li>
                            </ul>
                            <ul class='book_spine'>
                                <li></li>
                                <li></li>
                            </ul>
                        </figure>
                    </li>
                }
            </ul>
        </div>
    }
</div>
<div class="row">
    <div class="text-center">
        @Html.Partial("_PaginationPartial", (ThesesSystem.Web.ViewModels.Partials.PaginationViewModel)ViewData["Pagination"])
    </div>
</div>

@Styles.Render("~/Content/book")