@model ThesesSystem.Web.Areas.Administration.ViewModels.Specialties.SpecialtyUpdateViewModel
@{
    ViewBag.Title = "Информация за специалност";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacultyTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacultyTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Промяна", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
