@using Microsoft.AspNet.Identity
@using ThesesSystem.Web.Infrastructure.Constants
@if (this.User.IsInRole(GlobalConstants.ADMIN) || this.User.IsInRole(GlobalConstants.TEACHER)) { 
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Администрация<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            @if (this.User.IsInRole(GlobalConstants.ADMIN) )
            {
                <li>@Html.ActionLink("Нови потребители", "Verification", "User", new { area = string.Empty }, new { @class = string.Empty })
                </li>
            }
            <li class="divider"></li>
            <li>
                @Html.ActionLink("Теми", "Index", "ThesisThemes", new { area = "Administration" }, new { @class = string.Empty })
            </li>
            <li>
                @Html.ActionLink("Наръчници", "Index", "ThesisTutorials", new { area = "Administration" }, new { @class = string.Empty })
            </li>
            <li>
                @Html.ActionLink("Дипломни работи", "Index", "Theses", new { area = "Administration" }, new { @class = string.Empty })
            </li>
            <li>
                @Html.ActionLink("Факултети", "Index", "Faculties", new { area = "Administration" }, new { @class = string.Empty })
            </li>
            <li
                >@Html.ActionLink("Специалности", "Index", "Specialties", new { area = "Administration" }, new { @class = string.Empty })
            </li>
        </ul>
    </li>
}