@using ThesesSystem.Web.Infrastructure.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalConstants.APPLICATION_NAME</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/custom")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Icon.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Архив", "Index", "Storage", new { area = string.Empty }, new { @class = string.Empty })</li>
                        <li>@Html.ActionLink("Разработка", "Index", "Thesis", new { area = string.Empty }, new { @class = string.Empty })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Идеи<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Теми", "Themes", "Idea", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Теми" })
                                </li>
                                <li>
                                    @Html.ActionLink("Генератор", "Generator", "Idea", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Генератор" })
                                </li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Наръчници", "Index", "Tutorial", new { area = string.Empty }, new { @class = string.Empty })</li>
                        @Html.Partial("_AdministrationDropdownPartial")
                    </ul>

                    @Html.Partial("_SearchPartial", new ThesesSystem.Web.ViewModels.Search.SearchViewModel())
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="wrapper" class="body-content">
        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Theses System</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>
        $('#btn-search-submit').on('click', function () {
            $('#hidden-submit').click();
        });

        $('.search-options').on('click', function () {
            var display = $('.search-dropdown').css('display');

            if (display == 'none') {
                $('.search-dropdown').show('1');
            }
            else {
                $('.search-dropdown').hide('2');
            }
        });

        $(".search-group").hover(function () {},
            function () {
                $(".search-dropdown").hide('2');
            });

        $('.search-dropdown').on('click', 'li', function () {
            var icon = this.classList;
            $('#search-icon').removeClass();
            $('#search-icon').addClass('search-options');
            $('#search-icon').addClass(icon[0]);
            $('#search-icon').addClass(icon[1]);
            $('#hidden-value').val($(this).attr('data-value'));
            $('.search-dropdown').hide('2');
        });

    </script>
</body>
</html>
