@using ThesesSystem.Web.ViewModels.Partials
@using ThesesSystem.Web.ViewModels.Filters
@using ThesesSystem.Common.Extensions
@model ICollection<ThesesSystem.Web.ViewModels.Theses.ThesisViewModel>
@{
    ViewBag.Title = "Архив";
}

<h2>@ViewBag.Title</h2>
<div>
    <div class="row">
        <div class="col-md-3">
            <aside>
                @Html.Partial("_FilterPanelPartial", (FilterOptions)ViewData["FilterOptions"])
            </aside>
        </div>
        <div class="col-md-9">
            <div class="row">
                @if (Model.Count == 0)
                {
                    <h3>Няма намерени дипломни работи</h3>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <a href='@Url.Action("ThesisProfile", "Storage",  routeValues: new { id = item.Id  })'>
                            <div class="col-md-3 col-sm-4">
                                <div class="panel panel-info shadowed">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">@item.Title.TruncateLongString(13)</h3>
                                    </div>
                                    <div class="panel-body">
                                        Автор: <strong>@item.StudentName</strong>
                                        <br />
                                        Научен ръководител: <strong>@item.SupervisorName</strong>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-3 text-center">
            @Html.Partial("_PaginationPartial", (PaginationViewModel)ViewData["Pagination"])
        </div>
    </div>
</div> 