@model ThesesSystem.Web.ViewModels.Theses.ThesisProfileViewModel
@using ThesesSystem.Web.Infrastructure.Constants
@{
    ViewBag.Title = "Профил на дипломна работа";
}

<div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.Title)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.Title)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.StudentName)
        </div>
        <div class="col-md-3">
            <a href='@Url.Action("Account", "User", new { id = Model.StudentId })'>@Html.DisplayFor(m => Model.StudentName)</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.Faculty)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.Faculty)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.Specialty)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.Specialty)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.FinishedAt)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.FinishedAt)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.Pages)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.Pages)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.FinalEvaluation)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => Model.FinalEvaluation)
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            @Html.LabelFor(m => Model.SupervisorName)
        </div>
        <div class="col-md-3">
            <a href='@Url.Action("Account", "User", new { id = Model.SupervisorId })'>@Html.DisplayFor(m => Model.SupervisorName)</a>
        </div>
    </div>

    @if (User.IsInRole(GlobalConstants.ADMIN) || User.IsInRole(GlobalConstants.TEACHER))
    {
        <div class="row">
            <div class="col-md-12 text-center">
                @Html.ActionLink("Свали", "DownloadFile", "Storage", new { id = Model.Id }, new { target = "_blank", @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>
