@model ThesesSystem.Web.ViewModels.Evaluation.ReviewViewModel

<fieldset>
    <div class="text-center">
        @Html.LabelFor(m => m.ReviewerName)
        @Html.ActionLink(Model.ReviewerName, "Account", "User", new { id = Model.ReviewerId, area = string.Empty }, new { @class = string.Empty })
        <hr />
        @Html.LabelFor(m => m.Mark)
        @Html.DisplayFor(m => m.Mark, new { @class = "text ui-widget-content ui-corner-all" })
        <hr />
        @Html.LabelFor(m => m.CreatedOn)
        @Html.DisplayFor(m => m.CreatedOn, new { @class = "text ui-widget-content ui-corner-all" })
        <hr />
        <div id="text-small">
            @Html.DisplayFor(m => m.FileName)
        </div>
        <br />
        @Html.ActionLink("Свали", "DownloadReviewFile", "Thesis", new { id = Model.Id }, new { target = "_blank", @class = "btn btn-danger" })
    </div>
</fieldset>
