@using ThesesSystem.Web.Infrastructure.Constants
@model ThesesSystem.Web.ViewModels.Theses.DevThesisTimelineViewModel
@{
    ViewBag.Title = "Профил на дипломна работа";
}

<h2>
    @Model.Title
    @if (Model.IsComplete)
    {

        if (Model.HasEvaluation)
        {
            if (Model.FinalEvaluation == null)
            {
                <span class="badge-danger">очакване на крайна оценка</span>
            }
            else
            {
                <span class="badge-success">завършена</span>
            }
        }
        else
        {
            <span class="badge-info">очакване на рецензия</span>
        }
    }
    else
    {
        <span class="badge-primary">в процес на разработка</span>
    }

</h2>
<div>
    <div class="row">
        @if (!Model.IsComplete)
        {
            <div class="col-md-8 col-sm-8">
                @Html.ActionLink("Нова версия", "AddVersion", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Нова част", "AddPart", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })
            </div>
            <div class="col-md-4 col-sm-4">
                @using (Html.BeginForm("MarkAsComplete", "Thesis", new { area = string.Empty, id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-danger" value="Завършване на дипломната работа" />
                }
            </div>
        }
        else
        {
            if (!Model.HasEvaluation)
            {
                if (User.IsInRole(GlobalConstants.TEACHER))
                {
                    @Html.ActionLink("Добави рецензия", "AddReview", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })
                }
                else
                {
                    <span class="label label-danger">Все още нямате рецензия</span>
                }
            }
            else
            {
                @Ajax.ActionLink("Преглед на рецензията ", "ViewReview", "Thesis", new { area = string.Empty, id = Model.Id }, new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "result",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "openPopup"
                    },
                    new { @class = "btn btn-success" })

                if (User.IsInRole(GlobalConstants.ADMIN) && Model.FinalEvaluation == null)
                {
                    @Html.ActionLink("Добави крайна оценка", "AddFinalEvaluation", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })
                }
            }
        }
    </div>
    <div id="result" class="popup-dialog" style="display:none;"></div>
    <div class="timeline">
        <!-- Line component -->
        <div class="line text-muted"></div>

        @foreach (var item in Model.ThesisLogs)
        {
            <div class="separator text-muted">
                <time>@item.CreatedOn</time>
            </div>

            switch (item.LogType)
            {
                case ThesesSystem.Models.LogType.CreatedThesis:
                    <article class="panel panel-success">
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-home"></i>
                        </div>
                        <div class="panel-heading">
                            <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.CREATE_THESIS, item.UserFullName)</a></h2>
                        </div>
                    </article>
                    break;
                case ThesesSystem.Models.LogType.AddedVersion:
                <article class="panel panel-info">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-flag"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_ADDED_VERSION, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.AddedPart:
                <article class="panel panel-info">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_ADDED_PART, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.AddedComment:
                <article class="panel panel-primary">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-comment"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_COMMENTED, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.AddedReview:
                <article class="panel panel-primary">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-list-alt"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            @Ajax.ActionLink(string.Format(GlobalPatternConstants.USER_ADDED_REVIEW, item.UserFullName), "ViewReview", "Thesis", new { area = string.Empty, id = Model.Id }, new AjaxOptions
                            {
                                HttpMethod = "GET",
                                UpdateTargetId = "result",
                                InsertionMode = InsertionMode.Replace,
                                OnSuccess = "openPopup"
                            })
                        </h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.AddedFinalEvaluation:
                <article class="panel panel-primary">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-book"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_ADDED_FINAL_EVALUATION, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.CompletedThesis:
                <article class="panel panel-success">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-ok"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_COMPLEDED_THESIS, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                default:
                    break;
            }
        }
    </div>
</div>

@section styles
{
    @Styles.Render("~/Content/ui-dialog")
    <style>
        .validateTips {
            border: 1px solid transparent;
            padding: 0.3em;
        }

        #result label, input {
            display: block;
        }

        #result input.text {
            margin-bottom: 12px;
            width: 100%;
            padding: .4em;
        }

        #result fieldset {
            padding: 0;
            border: 0;
            margin-top: 25px;
        }

        #text-small {
            font-size: 10px;
        }
    </style>
}

@section scripts
{
    @Scripts.Render("~/bundles/jquery-ui")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#result").dialog({
                autoOpen: false,
                title: 'Преглед на рецензия',
                width: 300,
                height: 'auto',
                modal: true
            });
        });
        function openPopup() {
            $("#result").dialog("open");
        }
    </script>
}
