@using ThesesSystem.Web.Infrastructure.Constants
@model ThesesSystem.Web.ViewModels.Theses.DevThesisTimelineViewModel
@{
    ViewBag.Title = "Профил на дипломна работа";
}

<h2>@Model.Title</h2>

<div class="container">
    <div class="row">
        @if (!Model.IsComplete)
        {
            if (User.IsInRole(GlobalConstants.STUDENT))
            {
                @Html.ActionLink("Нова версия", "AddVersion", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Нова част", "AddPart", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })
            }
        }
        else
        {
            if (!Model.HasEvaluation)
            {
                if (User.IsInRole(GlobalConstants.TEACHER))
                {
                    @Html.ActionLink("Добави рецензия", "AddReview", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })
                }
            }
            else
            {
                @Html.ActionLink("Преглед на рецензията", "ViewReview", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })

                if (User.IsInRole(GlobalConstants.ADMIN))
                {
                    @Html.ActionLink("Добави крайна оценка", "AddFinalEvaluation", "Thesis", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-success" })
                }
            }
        }
    </div>
    <div class="timeline">
        <!-- Line component -->
        <div class="line text-muted"></div>

        @foreach (var item in Model.ThesisLogs)
        {
            <div class="separator text-muted">
                <time>@item.CreatedOn</time>
            </div>

            switch (item.LogType)
            {
                case ThesesSystem.Models.LogType.CreatedThesis:
                    <article class="panel panel-success">
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-plus"></i>
                        </div>
                        <div class="panel-heading">
                            <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.CREATE_THESIS, item.UserFullName)</a></h2>
                        </div>
                    </article>
                    break;
                case ThesesSystem.Models.LogType.AddedVersion:
                <article class="panel panel-info">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_ADDED_VERSION, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.AddedPart:
                <article class="panel panel-info">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_ADDED_PART, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.AddedComment:
                <article class="panel panel-primary">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_COMMENTED, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.AddedReview:
                <article class="panel panel-primary">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_ADDED_REVIEW, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.AddedFinalEvaluation:
                <article class="panel panel-primary">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_ADDED_FINAL_EVALUATION, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                case ThesesSystem.Models.LogType.CompletedThesis:
                <article class="panel panel-primary">
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="@item.ForwardUrl">@string.Format(GlobalPatternConstants.USER_COMPLEDED_THESIS, item.UserFullName)</a></h2>
                    </div>
                </article>
                    break;
                default:
                    break;
            }
        }
    </div>
</div>
