@model ICollection<ThesesSystem.Web.ViewModels.ThesisThemes.ThesisThemeViewModel>
@{
    ViewBag.Title = "Теми";
    var index = 0;
}
<h2>
    <div class="row">
        <div class="col-md-9 text-left">
            @ViewBag.Title
        </div>
        @if (this.User.IsInRole(ThesesSystem.Web.Infrastructure.Constants.GlobalConstants.TEACHER))
        {
            <div class="col-md-2">
                @Html.ActionLink("Нова тема", "Create", "Idea", new { area = string.Empty }, new { @class = "btn btn-primary shadowed" })
            </div>
        }
    </div>
</h2>


<div class="row">

    @if (Model.Count == 0)
    {
        <h2>Няма намерени теми за диломна работа</h2>
    }
    @foreach (var item in Model)
    {
        index++;
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">

                    @if (!item.IsTaken)
                    {
                        <div class="image not-taken">
                            <i class="fa fa-flag"></i>
                        </div>
                    }
                    else
                    {
                        <div class="image taken">
                            <i class="fa fa-ban"></i>
                        </div>
                    }

                    <div class="info shadowed">
                        <h3 class="title">"@item.Title"</h3>
                        <p>
                            от <a href='@Url.Action("Account", "User", new { area = string.Empty, id = item.TeacherId })'>
                                @item.TeacherName
                            </a>
                        </p>
                        <div class="more">
                            @if (User.IsInRole(ThesesSystem.Web.Infrastructure.Constants.GlobalConstants.STUDENT))
                            {
                                if (item.IsTaken)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <span>Заета</span>
                                    </div>
                                }
                                else
                                {
                                    using (Html.BeginForm("Take", "Idea", new { id = item.Id }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        <input type="submit" class="btn btn-success" value="Използвай" />
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-lg-offset-3 text-center">
        @Html.Partial("_PaginationPartial", (ThesesSystem.Web.ViewModels.Partials.PaginationViewModel)ViewData["Pagination"])
    </div>
</div>
