@model ICollection<ThesesSystem.Web.ViewModels.ThesisTheme.ThesisThemeViewModel>
@{
    ViewBag.Title = "Теми";
    var index = 0;
}
<div>
    <div class="row">
        <div class="row">
            <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
            @if (this.User.IsInRole(ThesesSystem.Web.Infrastructure.Constants.GlobalConstants.TEACHER))
            {
                <div class="col-md-2">
                    @Html.ActionLink("Нова тема", "Create", "Idea", new { area = string.Empty }, new { @class = "btn btn-lg btn-primary shadowed" })
                </div>
            }
            <br />
        </div>
        @foreach (var item in Model)
        {
            index++;
            <div class="col-md-8">
                <div class="row shadowed">
                    <div class="col-md-9 col-sm-9">
                        <h2>@item.Title</h2>
                        <h3>@item.TeacherName</h3>
                    </div>
                    @if (User.IsInRole(ThesesSystem.Web.Infrastructure.Constants.GlobalConstants.STUDENT))
                    {
                        <div class="col-md-3 col-sm-3">
                            @if (item.IsTaken)
                            {
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span>Заета</span>
                                </div>
                            }
                            else
                            {
                                using (Html.BeginForm("Take", "Idea", new { id = item.Id }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                                {
                                    <span class="btn bnt-lg btn-success sweet-@index" data-id="@item.Id" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-@index']);">Използвай</span>
                                    <input id="submit-button-@item.Id" class="hidden" type="submit" value="Използвай" />
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-offset-3 text-center">
            @Html.Partial("_PaginationPartial", (ThesesSystem.Web.ViewModels.Partial.PaginationViewModel)ViewData["Pagination"])
        </div>
    </div>
</div>

@section styles {
    @Styles.Render("~/Content/sweetalert")
}

@section scripts
{
    @Scripts.Render("~/bundles/sweetalert")

    <script>
        function sendForm(id) {
            $('#submit-button-' + id).click();
        }

        function onClick() {
            var id = $(this).attr('data-id');

            swal({
                title: "Сигурни ли сте, че искате да изберете точно тази тема за дипломна работа?",
                text: "Няма да можете да промените темата за година напред!",
                type: "success",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: 'Избирам!',
                cancelButtonText: "Премахни",
            },
            function (isConfirm) {
                if (isConfirm) {
                    sendForm(id);
                }
            });
        };

        var sweets = $('form > span');

        for (var i = 0; i < sweets.length; i++) {
            sweets[i].onclick = onClick;
        }
    </script>
}